/* Global Styles */

body {
    margin-top: 100px;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul, .side-nav>li>ul>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a, .side-nav>li>ul>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>ul>li>a {
    padding: 10px 15px 10px 43px;
}

.side-nav>li>ul>li>a:hover, .side-nav>li>ul>li>ul>li>a:hover {
    color: #fff;
}


/**************************************** DANIA EDIT *******************************************/
.dt-media {
    /*text-align: center;*/
    background-color: #f5f5f5;
    border-color:#ddd;
    padding:10px;
    margin-bottom:30px;
}
.dt-media span {
    vertical-align: top;
    display: inline-block;
}

.dt-media img {
    width:150px;
    height:150px;
    /*display: inline-block;*/
}

.dt-profile {
    font-size:10em;height:150px;width:150px;margin:10px;
}

.dt-circle {
    padding:3px;
    border: 1px solid #e3e3e3;
    background:white;
    border-radius: 50%;
}

.cap {
    text-transform: capitalize;
}

.media-heading {    text-align: right; }
.media-heading > span {
    background-color: #FFE14F; padding:5px;
    border-radius: 10%;
}

.center {
    text-align: center;
}

.well {
    background-color: #ffe1ab;
}

.mty-btn {
    background-color: #4659DE;
    color:white;
}

.mty-update {
    padding:6px 20px;
}

.mty-hidden {
    display: none;
}

.mty-update-big {
    padding: 6px 30px;
    font-size: 18px;
    margin-bottom: 20px;

}
.purple {
    background-color: #922E8F;
}
.green {
    background-color: green;
}

.red {
    background-color: red;
}

.grey {
    background-color: #969696;
}

.orn {
    color:orange;
}

.mty-note {
    background-color: #F5DBAC;
    text-align: center;
    padding:20px;
    margin-bottom: 20px;
    border-radius:10px;
}


.mty-heading {
    font-weight: bold;
    margin-bottom: 40px;
}

.required:after {
    content:'*'; 
    color:red; 
}

li.subactive{
    color: white;
    background-color: #770c01;
}

#itemtable, #attendancetable {
    border:1px solid #ddd;
}
#itemtable_wrapper, #attendancetable_wrapper  {
    margin-top: 30px;
}


/*--------------------------- Form & Search Table (start) ----------------------------*/
form.registration-form fieldset {
    display: none;
}


a#mbr-chosen {
    background-color : green;
    border-color:green;
}

a.mbr-mulchosen {
    background-color : green;
    border-color:green;    
}

.chosen {
    background-color:#f9da42;
    padding:4px 6px;
    border-radius: 5px;
    margin: 2px;
    line-height: 33px;
    display: inline-block;
}

/*--------------------------- Form & Search Table  (end) ----------------------------*/

/*--------------------------- View Groups (start) ----------------------------*/

ul.dt-view {
    list-style-type: none;
    padding:0;
}
dl.dt-view dd {
    margin-bottom: 10px;
}

ul.dt-view li, dl.dt-view {
    margin:10px;
}


/*--------------------------- View Groups (end) ----------------------------*/

.dt-title {
    padding:10px;text-align:center;border-bottom:1px solid #eee;font-weight:bold;
}

.dt-row {
    padding:30px;
}

.dt-icon {
    background-color:yellow; border-radius:10px;
}

.dt-act {
    background-color: #ecec7a;padding: 10px;display: inline-block;border-radius: 10px;
}

#dt-act-info {
    margin:0 10px; vertical-align:baseline;
}
#dt-bible-group {
    background-color:#91d0d0;padding:10px;
}
.dt-act-group {
    text-transform:uppercase; margin-top:0px;
}

.dt-qr {
    height:197px; margin:auto;
}

.dt-btm-space {
    margin-bottom: 20px;
}
/*--------------------------- Member Roles (start) ----------------------------*/

.dt-roles {
    background-color:yellow;padding:20px;border-radius:10px;margin:5px;
}

/*--------------------------- Member Roles (end) ----------------------------*/



.listbuttons {
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}



/*--------------------------- FORM LOGIN ----------------------------- */

.navbar-default {
    background: #91c7a4; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #91c7a4, #6f9cc2);
    background: -moz-linear-gradient(right, #91c7a4, #6f9cc2);
    background: -o-linear-gradient(right, #91c7a4, #6f9cc2);
    background:linear-gradient(to left, #91c7a4, #6f9cc2);
    border:transparent!important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:transparent!important;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.myform {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.myform input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.myform button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.myform button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.myform .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.myform .message a {
  color: #4CAF50;
  text-decoration: none;
}
.myform .register-form {
  display: none;
}

body#app-layout {
  background: #91c7a4; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #91c7a4, #6f9cc2);
  background: -moz-linear-gradient(right, #91c7a4, #6f9cc2);
  background: -o-linear-gradient(right, #91c7a4, #6f9cc2);
  background:linear-gradient(to left, #91c7a4, #6f9cc2);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
